@mixin flexible() {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.field-announcement {
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 800px;
  margin: 0 auto;
}

.create-card {
  display: flex;
  align-items: center;
  max-width: 700px;
  box-shadow: 1px 1px 5px;
  border-radius: 10px;
}

.main-card-content {
  @include flexible();
}

.form-field {
  width: 100%;
  .field-description {
    min-height: 200px;
    height: 300px;
    max-height: 400px;
  }
}

.field-label {
  width: 400px;
}

mat-card-content {
  margin: 15px 0;
}
.input-area {
  margin: 8px;
  max-width: 180px;
  width: 100%;
}
