<!--  -->

<section class="field-announcement">
  <mat-card-header>
    <h2>Нове оголошення</h2>
  </mat-card-header>

  <mat-card-content>
    <div>
      <!--  -->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Заголовок</mat-label>
        <input matInput placeholder="Ваш заголовок до житла" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Опис об'єкта</mat-label>
        <textarea
          class="field-description"
          matInput
          placeholder="Детальний опис житла"
        ></textarea>
      </mat-form-field>

      <h4 class="header-choise">Оберіть кількість кімнат</h4>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Кількість кімнат</mat-label>
        <mat-select [(ngModel)]="number_of_rooms">
          <mat-option>Кухня-студія</mat-option>
          <mat-option>1</mat-option>
          <mat-option>2</mat-option>
          <mat-option>3</mat-option>
          <mat-option>4</mat-option>
          <mat-option>4+</mat-option>
        </mat-select>
      </mat-form-field>

      <h2 class="header-characteristic">Характеристика</h2>

      <section class="inputs-characteristic">
        <mat-form-field class="input-area" appearance="outline">
          <mat-label>Загальна площа м²</mat-label>
          <input matInput type="number" [(ngModel)]="totalArea" />
        </mat-form-field>
        <mat-form-field class="input-area" appearance="outline">
          <mat-label>Житлова м²</mat-label>
          <input matInput type="number" [(ngModel)]="residential" />
        </mat-form-field>
        <mat-form-field class="input-area" appearance="outline">
          <mat-label>Кухня м²</mat-label>
          <input matInput type="number" [(ngModel)]="kitchen" />
        </mat-form-field>
      </section>

      <section class="checkbox-section">
        <mat-checkbox [(ngModel)]="allowedPets" color="primary">
          Можна з тваринами
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="noSmoking" color="primary">
          Заборонено паління
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="utilitiesIncluded" color="primary">
          Комунальні входять в вартість
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="centralizedHeating" color="primary">
          Централізоване опалення
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="offerIntermediary" color="primary">
          Пропозиція від посередника
        </mat-checkbox>
      </section>
    </div>
    <!--  -->
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      <span>Створити</span>
    </button>
  </mat-card-actions>
</section>
