<br>
<main class="apartments-wrapper">
  <section class="area-apartment-cards">

    <div *ngFor="let res of arr">
      <mat-card-content class="apartment-card">
        <div class="card-image">
          <img src="{{res.src}}" alt="apartment">
        </div>
        <div class="card-description">
          <p>{{res.title}}</p>
          <p>{{res.description}}</p>
        </div>
        <span class="status-card">{{res.status}}</span>
        <div class="card-price">
          <span class="card-price-original">{{res.price}}</span>
        </div>
        <div class="card-btn">
          <span>ПЕРЕГЛЯНУТИ</span>
        </div>
      </mat-card-content>
    </div>

    <div *ngFor="let res of arr">
      <mat-card-content class="apartment-card">
        <div class="card-image">
          <img src="{{res.src}}" alt="apartment">
        </div>
        <div class="card-description">
          <p>{{res.title}}</p>
          <p>{{res.description}}</p>
        </div>
        <span class="status-card">{{res.status}}</span>
        <div class="card-price">
          <span class="card-price-original">{{res.price}}</span>
        </div>
        <div class="card-btn">
          <span>ПЕРЕГЛЯНУТИ</span>
        </div>
      </mat-card-content>
    </div>

    <div class="wrapper-card" *ngFor="let res of arr">
      <mat-card-content class="apartment-card">
        <div class="card-image">
          <img src="{{res.src}}" alt="apartment">
        </div>
        <div class="card-description">
          <p>{{res.title}}</p>
          <p>{{res.description}}</p>
        </div>
        <span class="status-card">{{res.status}}</span>
        <div class="card-price">
          <span class="card-price-original">{{res.price}}</span>
        </div>
        <div class="card-btn">
          <span>ПЕРЕГЛЯНУТИ</span>
        </div>
      </mat-card-content>
    </div>

    <div *ngFor="let res of arr">
      <mat-card-content class="apartment-card">
        <div class="card-image">
          <img src="{{res.src}}" alt="apartment">
        </div>
        <div class="card-description">
          <p>{{res.title}}</p>
          <p>{{res.description}}</p>
        </div>
        <span class="status-card">{{res.status}}</span>
        <div class="card-price">
          <span class="card-price-original">{{res.price}}</span>
        </div>
        <div class="card-btn">
          <span>ПЕРЕГЛЯНУТИ</span>
        </div>
      </mat-card-content>
    </div>

    <div *ngFor="let res of arr">
      <mat-card-content class="apartment-card">
        <div class="card-image">
          <img src="{{res.src}}" alt="apartment">
        </div>
        <div class="card-description">
          <p>{{res.title}}</p>
          <p>{{res.description}}</p>
        </div>
        <span class="status-card">{{res.status}}</span>
        <div class="card-price">
          <span class="card-price-original">{{res.price}}</span>
        </div>
        <div class="card-btn">
          <span>ПЕРЕГЛЯНУТИ</span>
        </div>
      </mat-card-content>
    </div>

    <div class="wrapper-card" *ngFor="let res of arr">
      <mat-card-content class="apartment-card">
        <div class="card-image">
          <img src="{{res.src}}" alt="apartment">
        </div>
        <div class="card-description">
          <p>{{res.title}}</p>
          <p>{{res.description}}</p>
        </div>
        <span class="status-card">{{res.status}}</span>
        <div class="card-price">
          <span class="card-price-original">{{res.price}}</span>
        </div>
        <div class="card-btn">
          <span>ПЕРЕГЛЯНУТИ</span>
        </div>
      </mat-card-content>
    </div>

  </section>
</main>
