<!--  -->
<div class="home">
  <div class="home__content">
    <aside class="home__content-aside">
      головний компонент
      <!-- <ul class="aside-list">
        <li
          class="aside-list-item"
          *ngFor="let category of categoryProductList"
        >
          <a class="aside-list-link" [routerLink]="category.navigate_link">
            <img
              class="aside-list-link-image"
              [src]="url_server_folder + category.nameCategoryImg"
              [alt]="category.nameCategoryImg"
            />
            <p class="aside-list-link-text">
              {{ category.nameCategory }}
            </p>
          </a>
        </li>
      </ul> -->
    </aside>
    <!--  -->
    <div class="home__content-main">
      <!-- <swiper [config]="config">
        <ng-template swiperSlide *ngFor="let itemNews of news">
          <div class="image__container">
            <img [src]="url_server_folder + itemNews.imageSrc" />
          </div>
        </ng-template>
      </swiper> -->
    </div>
  </div>
</div>
