.home {
  &__content {
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    padding: 0 15px;
    @media (max-width: 1600px) {
      padding: 0 calc(5px + (15 - 5) * ((100vw - 320px) / (1600 - 320)));
    }
    &-aside {
      width: 25%;
      padding-right: 0.5%;
      border-right: 1px solid #e9e9e9;
    }
    &-main {
      width: 75%;
      padding-left: 0.5%;
    }
  }
}
// Media START ==========================================================================================
@media (max-width: 1000px) {
  .home {
    &__content {
      // &-aside {
      //   display: none;
      // }
      // &-main {
      //   width: 100%;
      //   padding-left: 0;
      // }
    }
  }
}
// Media END ============================================================================================
